<mapper namespace="org.example.dao.UserDao">
  <select id="findAll" resultType="org.example.pojo.User" parameterType="org.example.pojo.User">
    SELECT *
    FROM user
  </select>
  <select id="findByCondition" resultType="org.example.pojo.User" parameterType="org.example.pojo.User">
    select *
    from user
    where id = #{id}
      and username = #{username}
  </select>
</mapper>